<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/checkbox.css">
  <script src="/js/checkbox.js" defer></script>
  
  <title>Wooahan Agile</title>
</head>
<body>
  <section>
    <h2>Q&A - Wooahan Agile</h2>
    <h4>Q. 우아한 애자일의 <span>선발 기준</span>은 무엇일까요? 🤩</h4>
    <div id="checkbox">
      <label><input type="checkbox" value="열정">열정</label>
      <label><input type="checkbox" value="정의">정의</label>
      <label><input type="checkbox" value="기술력">기술력</label>
      <label><input type="checkbox" value="인성">인성</label>
      <label><input type="checkbox" value="외모">외모</label>
    </div>
    <button id="submit_btn">제출</button>
    <span id="result">답안을 선택한 후 제출을 클릭해주십시오.</span>
  </div>
</body>
</html>