<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/checkbox.css">
  <script src="/js/checkbox.js" defer></script>
  
  <title>checkbox</title>
</head>
<body>
  <section>
    <h2>checkbox - Wooahan Agile</h2>
    <h4>Q. 우리나라의 대표적인 독립운동가로 '흥사단'이라는 단체를 만들어 교육과 계몽운동을 통해 독립운동을 펼쳤던 이사람은 누구일까요?</h4>
    <div id="checkbox">
      <label><input type="checkbox" value="김구">김구</label>
      <label><input type="checkbox" value="안창호">안창호</label>
      <label><input type="checkbox" value="손병희">손병희</label>
      <label><input type="checkbox" value="양기탁">양기탁</label>
      <label><input type="checkbox" value="안중근">안중근</label>
    </div>
    <button id="submit_btn">제출</button>
    <span id="result"></span>
  </div>
</body>
</html>