<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js" defer></script>

    <title>Wooahan Agile</title>
  </head>
  <body>
    <div>
      <h2>Log In - Wooahan Agile</h2>

      <label for="id">ID</label>
      <input id="id" type="text" />
      <label for="password">Password</label>
      <input id="password" type="text" />

      <button id="login">로그인</button>
      <button id="confirm">정보 확인</button>
    </div>

    <div>
      <span id="result">로그인 후 정보확인을 클릭해주십시오.</span>
    </div>
  </body>
</html>
