<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/selectbox.css">
  <script src="/js/selectbox.js" defer></script>
  
  <title>selectbox</title>
</head>
<body>
  <section>
    <h2>selectbox - Wooahan Agile</h2>
    <h4>Q. 우리나라의 대표적인 독립운동가로 '흥사단'이라는 단체를 만들어 교육과 계몽운동을 통해 독립운동을 펼쳤던 이사람은 누구일까요?</h4>
    <select name="selectbox" id="a">
      <option value="김구">김구</option>
      <option value="안창호">안창호</option>
      <option value="손병희">손병희</option>
      <option value="양기탁">양기탁</option>
      <option value="안중근">안중근</option>
    </select>
    <button id="submit_btn">제출</button>
    <span id="result"></span>
  </div>
</body>
</html>