<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/selectbox.css">
  <script src="/js/selectbox.js" defer></script>
  
  <title>Wooahan Agile</title>
</head>
<body>
  <section>
    <h2>Q&A - Wooahan Agile</h2>
    <h4>Q. 우아한 애자일의 <span>개설 목적</span>은 무엇일까요? 🤩</h4>
    <select name="selectbox" id="selectbox">
      <option value="연애">연애: 내가 그의 이름을 불러 주었을 때 그는 나에게로 와서 꽃이 되었다.</option>
      <option value="도박">도박: 아싸 고도리!</option>
      <option value="유흥">유흥: 성공을 기원하고! 발전을 기원하며!</option>
      <option value="세계정복">세계정복: 자기 자신을 정복하지 못한 사람은 결코 자유로울 수 없다.</option>
      <option value="개발">개발: 실력있는 개발자를 양성함으로 IT 미래를 선도한다.</option>
    </select>
    <button id="submit-btn">제출</button>
    <span id="result">답안을 선택한 후 제출을 클릭해주십시오.</span>
  </div>
</body>
</html>