<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/todolist.css">
  <script src="/js/todolist.js" defer></script>
  
  <title>Wooahan Agile</title>
</head>
<body>
  <div>
    <h2>To Do List - Wooahan Agile</h2>
    <label for="name">Name</label>
    <input id="name" type="text">
    <label for="description">Description</label>
    <input id="description" type="text">
    <button>등록</button>
  </div>

  <div id="table">
    <table>
      <tr>
        <th class="th-name">Name</th>
        <th class="th-description">Description</th>
        <th class="th-update">Update</th>
        <th class="th-delete">Delete</th>
      </tr>
    </table>
  </div>
</body>
</html> 