section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  width: 70%;
  border: 4px solid rgb(34, 0, 34);
  border-radius: 12px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 10px;
  width: 50%;
  border: 3px dotted  rgb(186, 0, 0);
  border-radius: 4px;
}

h2 {
  font-size: 500%;
  color: rgb(109, 0, 89);
}

h4 {
  font-size: 120%;
  margin-top: 0;
}

a {
  color: rgb(106, 0, 97);
  font-weight: 700;
  margin: 10px;
}

span {
  color: rgb(186, 0, 0);
  font-weight: 900;
  font-size: 300%
}
