div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  width: 50%;
  border: 4px solid rgb(34, 0, 34);
  border-radius: 12px;
}

h2 {
  color: rgb(109, 0, 89);
}

label {
  margin-top: 10px;  
  font-size: 16px;
  font-weight: 600;
}

input {
  margin-top: 5px;
  padding: 10px;
}

button {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  width: 25%;
  color: rgb(255, 234, 165);
  background-color:rgb(75, 2, 65);
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}

span {
  color: rgb(186, 0, 0);
}

#result {
  align-self: center;
}